<header class="jumbotron vertical-center" style="text-align: center" id="banner">
  <div class="header">
    <h1 ng-show="categoryName!='NONE'"> <img src="assets/images/svg/user.png" alt="{{ categoryName }}" style="vertical-align: sub;">{{ 'USERS' | translate }}</h1>    
    <h1 ng-show="categoryName=='NONE'"><i class="fa fa-frown-o" aria-hidden="true"></i></h1>
  </div>
</header>

<div ng-show="isAdmin" class="container" infinite-scroll='nextPage()' infinite-scroll-disabled='busy || noMoreData'>
  <br/>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ 'USERS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>
          <a ng-href="users/updaterole/{{user._id}}" style="font-size: large">{{user.name}}</a>
          <div class="clearfix"></div>
          <div style="float: right;">
            <!--<a type="button updaterole" ng-click="updaterole(user)" class="btn btn-primary" href="users/updaterole/{{user._id}}">Change Role</a>-->
            <select ng-model="user.role">
                <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
            </select>
            <button type="button"  ng-click="updaterole(user.role, user._id)">{{ 'CHANGE_ROLE' | translate }}</button>
          </div>
          <div>
          </div>
          <div class="clearfix"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show='busy'>{{ 'LOADING' | translate }}</div>
</div>

<div ng-show="!isAdmin" class="container alert alert-danger">
    {{ noAdminMessage }}
</div>