$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Roboto Slab', sans-serif;
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar-default .navbar-text .navbar-nav {
  color: #000;	
}

.jumbotron p{
  font-family: "Roboto", sans-serif;
}

div.ng-binding{
  font-family: "Roboto", sans-serif;
}
// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'categoriesCreate/categoriesCreate.scss';
@import 'categoriesIndex/categoriesIndex.scss';
@import 'categoriesList/categoriesList.scss';
@import 'categoriesShow/categoriesShow.scss';
@import 'diagramsList/diagramsList.scss';
@import 'questionsCreate/questionsCreate.scss';
@import 'questionsIndex/questionsIndex.scss';
@import 'questionsList/questionsList.scss';
@import 'questionsShow/questionsShow.scss';
@import 'tagsCreate/tagsCreate.scss';
@import 'tagsIndex/tagsIndex.scss';
@import 'termsCreate/termsCreate.scss';
@import 'termsIndex/termsIndex.scss';
@import 'termsShow/termsShow.scss';
@import 'usersIndex/usersIndex.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
