<div ng-include src="'components/header/header.html'"></div>

<div class="container">
  <br/>

  <table class="table">
    <thead>
      <tr>
        <th width="20">{{ 'STARS' | translate }}</th>
        <th width="20">{{ 'ANSWERS' | translate }}</th>
        <th>{{ 'QUESTION' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions">
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.stars.length}}</div>
        </td>
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.answers.length}}</div>
        </td>
        <td>
          <div style="float: right;">
            <span ng-if=" isStar(question)" class="glyphicon glyphicon-star" style="color: #CF7C00;" ></span>
            <span ng-if="!isStar(question)" class="glyphicon glyphicon-star-empty"></span>
          </div>
          <a ng-href="questions/show/{{question._id}}" style="font-size: large">{{question.title}}</a>
          <div class="clearfix"></div>
          <a href="categories/list/{{question.category._id}}">
            <div class="label label-success float: right;" value="{{question.category._id}}">
              {{question.category.name}}
            </div>
          </a>
          <div style="float: right;">
            {{ 'BY' | translate }} <a ng-href="users/{{question.user._id}}">{{question.user.name}}</a>
             - {{question.createdAt|fromNow}}
          </div>
          <div>
            <span ng-repeat="tag in question.tags">

                  <a ng-if="tag.text.indexOf('Paragraph') != 0 && tag.text.indexOf('Diagram')" href="questions/list/{{tag.text}}">
                    <span ng-if="tag.text.indexOf('Paragraph') != 0 && tag.text.indexOf('Diagram')" class="label label-info">
                      <!--{{tag.text}}-->
                      {{ tag.text | limitTo: 20 }}{{tag.text.length > 20 ? '...' : ''}}
                    </span>
                  </a>

                  <a ng-if="tag.text.indexOf('Paragraph') == 0" href="questions/list/{{ question.tags[$index-1].text }}/{{tag.text}}">
                    <span ng-if="tag.text.indexOf('Paragraph') == 0" class="label label-info">
                      {{ tag.text | limitTo: 10 }}{{tag.text.length > 10 ? '...' : ''}}
                    </span>
                  </a>

              &nbsp;
            </span>
          </div>
          <div class="clearfix"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show='busy'>{{ 'LOADING' | translate }}</div>
</div><!-- container-->
