<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{ 'TOP_NAME' | translate }}</h1>
    <p class="lead">{{ 'HEADLINE' | translate }}</a></p>
    <img src="assets/images/logo_simpatico.png" alt="Simpatico">
  </div>
</header>


<div class="container" infinite-scroll='nextPage()' infinite-scroll-disabled='busy || noMoreData'>
  <br/>
  <div style="text-align: center">
    <a type="button" class="btn btn-primary" href="questions/create">{{ 'ASK_QUESTION' | translate }}</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th width="20">{{ 'STARS' | translate }}</th>
        <th width="20">{{ 'ANSWERS' | translate }}</th>
        <th>{{ 'QUESTION' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions">
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.stars.length}}</div>
        </td>
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.answers.length}}</div>
        </td>
        <td>
          <div style="float: right;">
            <span ng-if=" isStar(question)" class="glyphicon glyphicon-star" style="color: #CF7C00;" ></span>
            <span ng-if="!isStar(question)" class="glyphicon glyphicon-star-empty"></span>
          </div>
          <a ng-href="questions/show/{{question._id}}" style="font-size: large">{{question.title}}</a>
          <div class="clearfix"></div>
          <a href="categories/list/{{question.category._id}}">
          <div class="label label-success float: right;" value="{{question.category._id}}">
            {{question.category.name}}
          </div>
          </a>
          <div style="float: right;">
            {{ 'BY' | translate }} <a ng-href="users/{{question.user._id}}">{{question.user.name}}</a>
             - {{question.createdAt|fromNow}}
          </div>
          <div>
            <span ng-repeat="tag in question.tags">

                  <a ng-if="tag.text.indexOf('Paragraph') != 0 && tag.text.indexOf('Diagram')" href="questions/list/{{tag.text}}">
                    <span ng-if="tag.text.indexOf('Paragraph') != 0 && tag.text.indexOf('Diagram')" class="label label-info">
                      {{tag.text}}
                    </span>
                  </a>

                  <a ng-if="tag.text.indexOf('Paragraph') == 0" href="questions/list/{{ question.tags[$index-1].text }}/{{tag.text}}">
                    <span ng-if="tag.text.indexOf('Paragraph') == 0" class="label label-info">
                      {{tag.text}}
                    </span>
                  </a>

              &nbsp;
            </span>
          </div>
          <div class="clearfix"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show='busy'>{{ 'LOADING' | translate }}</div>
</div>
