<header class="jumbotron vertical-center" style="text-align: center" id="banner">
  <div class="header">
    <h1 ng-show="categoryName!='NONE'"> <img src="assets/images/svg/term.png" alt="{{ categoryName }}" style="vertical-align: sub;">{{ 'TERMS' | translate }}</h1>    
    <h1 ng-show="categoryName=='NONE'"><i class="fa fa-frown-o" aria-hidden="true"></i></h1>
  </div>
</header>

<div class="container" infinite-scroll='nextPage()' infinite-scroll-disabled='busy || noMoreData'>
  <br/>
  <div style="text-align: center">
    <a type="button" class="btn btn-primary" href="terms/create">{{ 'NEW_TERM' | translate }}</a>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ 'TERM' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="term in terms">
        <td>
          <a ng-href="terms/show/{{term._id}}" style="font-size: large">{{term.title}}</a>
          <div class="clearfix"></div>
          <div style="float: right;">
            <!--{{ 'BY' | translate }} <a ng-href="/users/{{term.user._id}}">{{term.user.name}}</a>
             - {{term.createdAt|fromNow}}-->
            {{term.content | split:'.':0}}.
          </div>
          <div>
            <span ng-repeat="tag in term.tags">
              <span class="label label-info">
                {{tag.text}}
              </span>
              &nbsp;
            </span>
          </div>
          <div class="clearfix"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show='busy'>{{ 'LOADING' | translate }}</div>
</div>
